html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none ;
}

button, button:focus{
  appearance: none;
  outline: none;
  background: transparent;
}

button:active{
  appearance: none;
  outline: none;
  background: transparent;
}

* {
  box-sizing: border-box;
}

input[type=text] {   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0px;
  margin: 0px;
}

.text-center{
  text-align: center;
}

.default-color{
  color: #8E44AD;
}

.purp{
  background-color: #8E44AD;
  min-height: calc(100vh - 80px);
}

.overflow-hidden{
  overflow: hidden;
}